caption_workflow/ImageCaptioning_SingleImage_v1.0.json
{
  "name": "ImageCaptioning_SingleImage_v1.0",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "caption-single",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simple setup - just get the first image\nconst body = $input.item.json.body;\nconst image = body.images ? body.images[0] : body;\nconst config = body.config || {\n  detail_level: 'high',\n  style_prompt: 'Describe this image for AI training: subject, colors, composition, style.'\n};\n\nreturn {\n  image_url: image.url,\n  image_id: image.id || 'img_001',\n  filename: image.filename || 'image.jpg',\n  config: config\n};"
      },
      "id": "setup",
      "name": "Setup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4-vision-preview\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": [\n      {\"type\": \"text\", \"text\": \"{{ $json.config.style_prompt }}\"},\n      {\"type\": \"image_url\", \"image_url\": {\"url\": \"{{ $json.image_url }}\", \"detail\": \"{{ $json.config.detail_level }}\"}}\n    ]\n  }],\n  \"max_tokens\": 300\n}",
        "options": {}
      },
      "id": "caption",
      "name": "Get Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the result nicely\nconst caption = $input.item.json.choices[0].message.content.trim();\nconst imageId = $input.item.json.image_id;\nconst filename = $input.item.json.filename;\n\nconst wordCount = caption.split(/\\s+/).length;\n\n// Simple quality check\nconst hasSubject = /\\b(person|character|animal|object|figure)\\b/i.test(caption);\nconst hasDetails = /\\b(color|light|style|composition)\\b/i.test(caption);\nconst qualityScore = (wordCount >= 10 && hasSubject && hasDetails) ? 0.85 : 0.65;\n\nreturn {\n  status: 'success',\n  image_id: imageId,\n  filename: filename,\n  caption: caption,\n  word_count: wordCount,\n  quality_score: qualityScore,\n  model: 'gpt-4-vision-preview',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "format",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Setup", "type": "main", "index": 0}]]},
    "Setup": {"main": [[{"node": "Get Caption", "type": "main", "index": 0}]]},
    "Get Caption": {"main": [[{"node": "Format", "type": "main", "index": 0}]]},
    "Format": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": {},
  "tags": []
}
