caption_workflow/ImageCaptioning_LocalFiles_v1.0.json
{
  "name": "LoRA Image Captioner → Production v7 (Fixed)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "directory_path",
              "name": "directory_path",
              "value": "D:/ai/scripts/n9n/test_images/post/subject_lora",
              "type": "string"
            },
            {
              "id": "lora_token",
              "name": "lora_token",
              "value": "sks_luneasterstick",
              "type": "string"
            },
            {
              "id": "prompt_template",
              "name": "prompt_template",
              "value": "object",
              "type": "string"
            },
            {
              "id": "enable_refinement",
              "name": "enable_refinement",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "quality_threshold",
              "name": "quality_threshold",
              "value": 0.75,
              "type": "number"
            },
            {
              "id": "batch_size",
              "name": "batch_size",
              "value": 50,
              "type": "number"
            },
            {
              "id": "batch_delay_seconds",
              "name": "batch_delay_seconds",
              "value": 6,
              "type": "number"
            },
            {
              "id": "max_retries",
              "name": "max_retries",
              "value": 3,
              "type": "number"
            },
            {
              "id": "job_id",
              "name": "job_id",
              "value": "={{ 'job_' + Date.now() }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "config_setup",
      "name": "📝 Config — Edit Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 400],
      "notes": "EDIT BEFORE RUNNING:\n• directory_path: Path to images\n• lora_token: Trigger word (e.g., sks_object)\n• prompt_template: object|character|style|scene|general\n• enable_refinement: Auto-refine low-quality captions\n• quality_threshold: 0.75 = 75% quality checks must pass\n• batch_size: Process N images before delay (rate limiting)\n• batch_delay_seconds: Pause between batches\n• max_retries: API retry attempts per image"
    },
    {
      "parameters": {
        "jsCode": "// Validate configuration and build prompt templates\nconst config = $input.item.json;\n\nif (!config.directory_path) throw new Error('directory_path is required');\nif (!config.lora_token) throw new Error('lora_token is required');\nif (!/^[\\w-]+$/.test(config.lora_token)) {\n  throw new Error(`Invalid LoRA token: \"${config.lora_token}\". Use only letters, numbers, underscores, dashes.`);\n}\n\nconst prompts = {\n  general: \"Provide a concise, objective description suitable for training. Describe what is visible: subjects present, key elements, composition/framing, lighting direction/quality/intensity, color palette, materials/textures, and any notable spatial context. Avoid brand names, identities, opinions, or narrative language.\",\n  object: \"Describe this image for object LoRA training. Focus on environment and optics: lighting direction/quality/intensity and shadows/reflections, camera–subject relationship (angle, distance, depth of field, framing), background context and support surfaces, and general color/material cues visible without naming or identifying the object specifically. Avoid brand names, unique labels, or subjective adjectives.\",\n  character: \"Describe this image for character LoRA training. Emphasize pose and positioning in space, lighting direction/quality/intensity and shadows, camera–subject relationship (angle, distance, focal-length feel, depth of field, framing), and surroundings. Do not list facial identity details or unique identifiers; avoid brand/style words.\",\n  style: \"Describe the overall scene succinctly, then the dominant color palette and the quality of light (direction, softness/hardness, contrast, time-of-day feel). Mention composition tendencies or rendering approach if evident (e.g., minimal, high-contrast, soft-gradation). Do not identify brands or subjects.\",\n  scene: \"Describe the setting and visible elements with attention to spatial layout and depth cues, composition/framing lines, lighting direction/quality/intensity, and palette. Include materials/textures of major surfaces. Avoid identities, brands, and subjective adjectives.\"\n};\n\nconst template = config.prompt_template || 'general';\nconst basePrompt = prompts[template] || prompts.general;\nconst fullPrompt = `CRITICAL: Begin your description with exactly this trigger token: \"${config.lora_token}\"\\n\\nAfter the trigger token, provide the description following these guidelines:\\n\\n${basePrompt}`;\n\nreturn {\n  json: {\n    ...config,\n    prompt: fullPrompt,\n    started_at: new Date().toISOString(),\n    cost_per_image: 0.002,\n    total_cost: 0,\n    images_processed: 0,\n    images_failed: 0\n  }\n};"
      },
      "id": "validate_config",
      "name": "Code — Validate & Build Prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "jsCode": "// Cross-platform image file discovery using Node.js fs module\nconst fs = require('fs');\nconst path = require('path');\n\nconst config = $input.item.json;\nconst dirPath = config.directory_path.replace(/\\\\/g, '/');\nconst supportedExtensions = ['.jpg', '.jpeg', '.png', '.webp'];\n\nfunction getAllImageFiles(dir, results = []) {\n  try {\n    const items = fs.readdirSync(dir, { withFileTypes: true });\n    \n    for (const item of items) {\n      const fullPath = path.join(dir, item.name).replace(/\\\\/g, '/');\n      \n      if (item.isDirectory()) {\n        // Recursively process subdirectories (aspect buckets)\n        getAllImageFiles(fullPath, results);\n      } else if (item.isFile()) {\n        const ext = path.extname(item.name).toLowerCase();\n        if (supportedExtensions.includes(ext)) {\n          results.push(fullPath);\n        }\n      }\n    }\n  } catch (error) {\n    throw new Error(`Failed to read directory \"${dir}\": ${error.message}`);\n  }\n  \n  return results;\n}\n\nconst imageFiles = getAllImageFiles(dirPath);\n\nif (imageFiles.length === 0) {\n  throw new Error(`No images found in: ${dirPath}\\n\\nSupported formats: .jpg, .jpeg, .png, .webp`);\n}\n\nreturn {\n  json: {\n    ...config,\n    image_files: imageFiles,\n    total_images: imageFiles.length\n  }\n};"
      },
      "id": "list_images",
      "name": "Code — List Images (Cross-Platform)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "jsCode": "// Prepare individual image items from file list\nconst data = $input.item.json;\nconst imageFiles = data.image_files;\n\n// Create individual items for each image\nconst items = imageFiles.map((filepath, index) => {\n  const filename = filepath.split('/').pop();\n  const imageId = filename.replace(/\\.[^/.]+$/, '');\n  \n  return {\n    json: {\n      filepath: filepath,\n      filename: filename,\n      image_id: imageId,\n      index: index + 1,\n      total_images: imageFiles.length,\n      lora_token: data.lora_token,\n      prompt: data.prompt,\n      prompt_template: data.prompt_template,\n      enable_refinement: data.enable_refinement,\n      quality_threshold: data.quality_threshold,\n      max_retries: data.max_retries,\n      job_id: data.job_id,\n      retry_count: 0,\n      processing_started_at: new Date().toISOString()\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "prepare_items",
      "name": "Code — Prepare Image Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "filePath": "={{ $json.filepath }}"
      },
      "id": "read_image",
      "name": "Read Binary File — Load Image",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1240, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Convert image binary to base64 data URI for OpenAI Vision API\nconst item = $input.item;\n\n// Handle read errors\nif (item.json.error || !item.binary?.data) {\n  return {\n    json: {\n      ...item.json,\n      error: item.json.error || 'Failed to read image file',\n      skip_api_call: true\n    }\n  };\n}\n\nconst binaryData = item.binary.data;\nconst mimeType = binaryData.mimeType || 'image/jpeg';\nconst base64 = binaryData.data;\n\nreturn {\n  json: {\n    ...item.json,\n    image_data_uri: `data:${mimeType};base64,${base64}`,\n    file_size_bytes: Buffer.from(base64, 'base64').length\n  }\n};"
      },
      "id": "convert_base64",
      "name": "Code — Convert to Base64 URI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip_api_call }}",
              "value2": true,
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "check_ready",
      "name": "IF — Image Ready for API?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"text\",\n        \"text\": {{ JSON.stringify($json.prompt) }}\n      },\n      {\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": {{ JSON.stringify($json.image_data_uri) }},\n          \"detail\": \"high\"\n        }\n      }\n    ]\n  }],\n  \"max_tokens\": 300,\n  \"temperature\": 0.7\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxRetries": "={{ $json.max_retries }}",
            "backoff": {
              "type": "exponential"
            }
          }
        }
      },
      "id": "caption_api",
      "name": "HTTP Request — Caption with GPT-4o",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 300],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI API (Production)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Extract caption from API response or handle errors\nconst item = $input.item.json;\nconst prevData = $('Code — Convert to Base64 URI').item.json;\n\nlet caption = null;\nlet error = null;\nlet api_call_successful = false;\n\n// Check for API errors\nif (item.error) {\n  error = item.error.message || 'API call failed';\n} else if (!item.choices || !item.choices[0] || !item.choices[0].message) {\n  error = 'Invalid API response structure';\n} else {\n  caption = item.choices[0].message.content.trim();\n  api_call_successful = true;\n}\n\nreturn {\n  json: {\n    ...prevData,\n    raw_caption: caption,\n    caption: caption,\n    error: error,\n    api_call_successful: api_call_successful,\n    captioning_attempt: prevData.retry_count + 1\n  }\n};"
      },
      "id": "extract_caption",
      "name": "Code — Extract Caption from Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.prompt_template }}",
              "value2": "object",
              "operation": "equals"
            },
            {
              "value1": "={{ $json.prompt_template }}",
              "value2": "character",
              "operation": "equals"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "check_subject_removal",
      "name": "IF — Need Subject Removal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a caption editor for LoRA training datasets. Remove subject-specific identifying details while preserving visual descriptions of scene, lighting, and composition.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"LoRA trigger token: \\\"{{ $json.lora_token }}\\\" - This MUST be the first word of your output.\\n\\nOriginal caption:\\n{{ $json.caption }}\\n\\nRewrite this caption removing identifying details about the subject. Start with \\\"{{ $json.lora_token }}\\\" followed by the generic description.\\n\\nPreserve: pose, lighting, composition, scene\\nRemove: names, identities, brands, locations\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.7\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxRetries": 3,
            "backoff": {
              "type": "exponential"
            }
          }
        }
      },
      "id": "remove_subject",
      "name": "HTTP Request — Remove Subject Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 200],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI API (Production)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Update caption after subject removal\nconst item = $input.item.json;\nconst prevData = $('Code — Extract Caption from Response').item.json;\n\nlet caption = prevData.caption;\n\nif (!item.error && item.choices && item.choices[0]) {\n  caption = item.choices[0].message.content.trim();\n}\n\nreturn {\n  json: {\n    ...prevData,\n    caption: caption,\n    subject_removed: true\n  }\n};"
      },
      "id": "update_caption",
      "name": "Code — Update Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200]
    },
    {
      "parameters": {
        "jsCode": "// Quality scoring system: 9 checks\nconst item = $input.item.json;\nconst caption = item.caption || '';\nconst loraToken = item.lora_token;\n\n// Perform 9 quality checks\nconst words = caption.split(/\\s+/);\nconst checks = {\n  hasMinLength: words.length >= 10,\n  hasMaxLength: words.length <= 200,\n  hasSubject: /\\b(person|character|object|subject|figure|individual|entity)\\b/i.test(caption),\n  hasVisualDetails: /\\b(color|light|texture|surface|material|pattern|shape|form)\\b/i.test(caption),\n  noErrors: !/\\b(error|unable|cannot|sorry|failed|unclear)\\b/i.test(caption),\n  notTooVague: !/^(this is|the image shows|this image|here we see)/i.test(caption),\n  hasLighting: /\\b(light|shadow|bright|dark|illuminat|glow|shine)\\b/i.test(caption),\n  hasComposition: /\\b(foreground|background|angle|perspective|composition|framing|frame|position)\\b/i.test(caption),\n  loraTokenValid: caption.toLowerCase().startsWith(loraToken.toLowerCase()) && \n                  (caption.toLowerCase().match(new RegExp(loraToken.toLowerCase(), 'g')) || []).length === 1\n};\n\nconst passedChecks = Object.values(checks).filter(Boolean).length;\nconst totalChecks = Object.keys(checks).length;\nconst qualityScore = passedChecks / totalChecks;\n\nreturn {\n  json: {\n    ...item,\n    quality_checks: checks,\n    quality_score: qualityScore,\n    passed_checks: passedChecks,\n    total_checks: totalChecks,\n    quality_passed: qualityScore >= item.quality_threshold\n  }\n};"
      },
      "id": "score_quality",
      "name": "Code — Score Quality (9 Checks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.enable_refinement }}",
              "value2": true
            },
            {
              "value1": "={{ $json.quality_passed }}",
              "value2": false
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "check_refinement",
      "name": "IF — Needs Refinement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3040, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You refine image captions for LoRA training datasets to improve quality scores.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"LoRA trigger token: \\\"{{ $json.lora_token }}\\\" - MUST be the first word.\\n\\nCurrent caption (quality score: {{ $json.quality_score.toFixed(2) }}):\\n{{ $json.caption }}\\n\\nFailed checks: {{ Object.entries($json.quality_checks).filter(([k,v]) => !v).map(([k]) => k).join(', ') }}\\n\\nRefine this caption to address the failed checks. Requirements:\\n• Start with \\\"{{ $json.lora_token }}\\\"\\n• 10-200 words\\n• Include subject, visual details, lighting, composition\\n• Avoid vague phrases, errors, brand names\\n• Use descriptive, training-appropriate language\"\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.8\n}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxRetries": 3,
            "backoff": {
              "type": "exponential"
            }
          }
        }
      },
      "id": "refine_caption",
      "name": "HTTP Request — Refine Caption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3240, 200],
      "credentials": {
        "openAiApi": {
          "id": "{{OPENAI_CREDENTIAL_ID}}",
          "name": "OpenAI API (Production)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Update caption after refinement\nconst item = $input.item.json;\nconst prevData = $('Code — Score Quality (9 Checks)').item.json;\n\nlet caption = prevData.caption;\nlet refinement_applied = false;\n\nif (!item.error && item.choices && item.choices[0]) {\n  caption = item.choices[0].message.content.trim();\n  refinement_applied = true;\n}\n\nreturn {\n  json: {\n    ...prevData,\n    caption: caption,\n    refinement_applied: refinement_applied,\n    original_caption: prevData.raw_caption\n  }\n};"
      },
      "id": "update_refined",
      "name": "Code — Update Refined Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3440, 200]
    },
    {
      "parameters": {
        "jsCode": "// Re-score after refinement\nconst item = $input.item.json;\nconst caption = item.caption || '';\nconst loraToken = item.lora_token;\n\nconst words = caption.split(/\\s+/);\nconst checks = {\n  hasMinLength: words.length >= 10,\n  hasMaxLength: words.length <= 200,\n  hasSubject: /\\b(person|character|object|subject|figure|individual|entity)\\b/i.test(caption),\n  hasVisualDetails: /\\b(color|light|texture|surface|material|pattern|shape|form)\\b/i.test(caption),\n  noErrors: !/\\b(error|unable|cannot|sorry|failed|unclear)\\b/i.test(caption),\n  notTooVague: !/^(this is|the image shows|this image|here we see)/i.test(caption),\n  hasLighting: /\\b(light|shadow|bright|dark|illuminat|glow|shine)\\b/i.test(caption),\n  hasComposition: /\\b(foreground|background|angle|perspective|composition|framing|frame|position)\\b/i.test(caption),\n  loraTokenValid: caption.toLowerCase().startsWith(loraToken.toLowerCase()) && \n                  (caption.toLowerCase().match(new RegExp(loraToken.toLowerCase(), 'g')) || []).length === 1\n};\n\nconst passedChecks = Object.values(checks).filter(Boolean).length;\nconst totalChecks = Object.keys(checks).length;\nconst qualityScore = passedChecks / totalChecks;\n\nreturn {\n  json: {\n    ...item,\n    quality_checks: checks,\n    quality_score: qualityScore,\n    passed_checks: passedChecks,\n    total_checks: totalChecks,\n    quality_passed: qualityScore >= item.quality_threshold,\n    quality_improved: qualityScore > (item.quality_score || 0)\n  }\n};"
      },
      "id": "rescore",
      "name": "Code — Rescore Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3640, 200]
    },
    {
      "parameters": {
        "jsCode": "// Prepare text file path and content\nconst item = $input.item.json;\nconst filepath = item.filepath;\nconst caption = item.caption || '';\n\n// Create .txt path by replacing file extension\nconst txtPath = filepath.replace(/\\.[^/.]+$/, '.txt');\n\nreturn {\n  json: {\n    ...item,\n    txt_path: txtPath,\n    txt_content: caption,\n    ready_to_save: true\n  }\n};"
      },
      "id": "prepare_txt",
      "name": "Code — Prepare .txt File Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3840, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.txt_path }}",
        "data": "={{ $json.txt_content }}",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "write_txt",
      "name": "Read/Write File — Save Caption",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [4040, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mark file write result\nconst item = $input.item.json;\n\nconst writeSuccessful = !item.error;\n\nreturn {\n  json: {\n    ...item,\n    file_written: writeSuccessful,\n    processing_completed_at: new Date().toISOString()\n  }\n};"
      },
      "id": "mark_complete",
      "name": "Code — Mark Processing Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_pass_through",
              "name": "error_pass_through",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        }
      },
      "id": "pass_skipped",
      "name": "Set — Pass Skipped Items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1840, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge_all",
      "name": "Merge — Combine All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [4440, 400]
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive summary report\nconst allItems = $input.all();\nconst config = $('📝 Config — Edit Settings').item.json;\n\nconst successful = allItems.filter(item => item.json.file_written);\nconst failed = allItems.filter(item => !item.json.file_written || item.json.error);\nconst refined = allItems.filter(item => item.json.refinement_applied);\n\nconst loraTokenAccurate = allItems.filter(item => {\n  const caption = item.json.caption || '';\n  const token = item.json.lora_token || '';\n  return caption.toLowerCase().startsWith(token.toLowerCase());\n});\n\nconst totalWordCounts = successful.reduce((sum, item) => {\n  const words = (item.json.caption || '').split(/\\s+/).length;\n  return sum + words;\n}, 0);\n\nconst avgCaptionLength = successful.length > 0 ? totalWordCounts / successful.length : 0;\nconst loraTokenAccuracy = allItems.length > 0 ? loraTokenAccurate.length / allItems.length : 0;\nconst totalCost = allItems.length * 0.002; // $0.002 per image with gpt-4o\n\nconst lowQualityItems = allItems.filter(item => \n  item.json.quality_score && item.json.quality_score < config.quality_threshold\n);\n\nconst report = {\n  job_id: config.job_id,\n  started_at: config.started_at,\n  completed_at: new Date().toISOString(),\n  total_images: allItems.length,\n  successful: successful.length,\n  failed: failed.length,\n  refinements_applied: refined.length,\n  lora_token_accuracy: loraTokenAccuracy,\n  lora_token_accurate_count: loraTokenAccurate.length,\n  avg_caption_length_words: Math.round(avgCaptionLength * 10) / 10,\n  captioning_cost_usd: Math.round(totalCost * 100) / 100,\n  low_quality_count: lowQualityItems.length,\n  quality_threshold: config.quality_threshold,\n  failed_files: failed.map(item => ({\n    filename: item.json.filename,\n    error: item.json.error || 'Unknown error'\n  })),\n  low_quality_files: lowQualityItems.map(item => ({\n    filename: item.json.filename,\n    quality_score: Math.round(item.json.quality_score * 100) / 100,\n    failed_checks: Object.entries(item.json.quality_checks || {})\n      .filter(([k, v]) => !v)\n      .map(([k]) => k)\n  })),\n  status: failed.length === 0 ? 'completed_successfully' : 'completed_with_errors'\n};\n\nreturn {\n  json: report\n};"
      },
      "id": "summary_report",
      "name": "Code — Generate Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.low_quality_count }}",
              "value2": 0,
              "operation": "larger"
            }
          ]
        }
      },
      "id": "check_quality_alert",
      "name": "IF — Low Quality Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4840, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alert_message",
              "name": "alert_message",
              "value": "=⚠️ **Captioning Quality Alert**\\n\\nJob: {{ $json.job_id }}\\nTotal Images: {{ $json.total_images }}\\nLow Quality Captions: {{ $json.low_quality_count }} ({{ Math.round($json.low_quality_count / $json.total_images * 100) }}%)\\n\\nThese captions scored below {{ $json.quality_threshold }} quality threshold and may need manual review.\\n\\n**Files needing attention:**\\n{{ $json.low_quality_files.slice(0, 10).map(f => `• ${f.filename} (score: ${f.quality_score}) - Failed: ${f.failed_checks.join(', ')}`).join('\\n') }}\\n\\n{{ $json.low_quality_count > 10 ? '...' + ($json.low_quality_count - 10) + ' more files' : '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format_slack_alert",
      "name": "Set — Format Slack Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [5040, 300]
    },
    {
      "parameters": {
        "content": "={{ $json.alert_message }}",
        "options": {}
      },
      "id": "send_slack_alert",
      "name": "Slack — Send Quality Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [5240, 300],
      "credentials": {
        "slackApi": {
          "id": "{{SLACK_CREDENTIAL_ID}}",
          "name": "Slack API (Production)"
        }
      },
      "continueOnFail": true,
      "notes": "OPTIONAL: Configure Slack credentials to receive quality alerts"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "📝 Config — Edit Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Config — Edit Settings": {
      "main": [
        [
          {
            "node": "Code — Validate & Build Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Validate & Build Prompts": {
      "main": [
        [
          {
            "node": "Code — List Images (Cross-Platform)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — List Images (Cross-Platform)": {
      "main": [
        [
          {
            "node": "Code — Prepare Image Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Prepare Image Items": {
      "main": [
        [
          {
            "node": "Read Binary File — Load Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File — Load Image": {
      "main": [
        [
          {
            "node": "Code — Convert to Base64 URI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Convert to Base64 URI": {
      "main": [
        [
          {
            "node": "IF — Image Ready for API?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Image Ready for API?": {
      "main": [
        [
          {
            "node": "HTTP Request — Caption with GPT-4o",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Pass Skipped Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Caption with GPT-4o": {
      "main": [
        [
          {
            "node": "Code — Extract Caption from Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Extract Caption from Response": {
      "main": [
        [
          {
            "node": "IF — Need Subject Removal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Need Subject Removal?": {
      "main": [
        [
          {
            "node": "HTTP Request — Remove Subject Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Score Quality (9 Checks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Remove Subject Details": {
      "main": [
        [
          {
            "node": "Code — Update Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Update Caption": {
      "main": [
        [
          {
            "node": "Code — Score Quality (9 Checks)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Score Quality (9 Checks)": {
      "main": [
        [
          {
            "node": "IF — Needs Refinement?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Needs Refinement?": {
      "main": [
        [
          {
            "node": "HTTP Request — Refine Caption",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Prepare .txt File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Refine Caption": {
      "main": [
        [
          {
            "node": "Code — Update Refined Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Update Refined Caption": {
      "main": [
        [
          {
            "node": "Code — Rescore Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Rescore Quality": {
      "main": [
        [
          {
            "node": "Code — Prepare .txt File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Prepare .txt File Path": {
      "main": [
        [
          {
            "node": "Read/Write File — Save Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write File — Save Caption": {
      "main": [
        [
          {
            "node": "Code — Mark Processing Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Mark Processing Complete": {
      "main": [
        [
          {
            "node": "Merge — Combine All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Pass Skipped Items": {
      "main": [
        [
          {
            "node": "Merge — Combine All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge — Combine All Results": {
      "main": [
        [
          {
            "node": "Code — Generate Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Generate Summary Report": {
      "main": [
        [
          {
            "node": "IF — Low Quality Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Low Quality Issues?": {
      "main": [
        [
          {
            "node": "Set — Format Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Format Slack Alert": {
      "main": [
        [
          {
            "node": "Slack — Send Quality Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "executionTimeout": 3600,
    "timezone": "America/New_York"
  },
  "meta": {
    "category": "AI",
    "tags": ["lora", "image-captioning", "gpt-4o", "computer-vision", "training-data"],
    "complexity": "High",
    "version": "7.0.1",
    "author": "Production Workflow",
    "lastReviewed": "2025-11-11"
  },
  "pinData": {},
  "versionId": "production-v7-fixed",
  "id": "lora_captioner_prod_v7_fixed"
}