pintrest_scrape_api/simple_pintrest.json
{
  "name": "Pinterest Visual Research → Simple AI Collection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pinterest-research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.text_prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "2",
      "name": "IF — Has Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Please provide text_prompt or images\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "3",
      "name": "Respond — Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "request_id",
              "value": "={{ 'research_' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "text_prompt",
              "value": "={{ $json.body.text_prompt || 'visual inspiration' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "project_context",
              "value": "={{ $json.body.project_context || 'General Research' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Set — Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "=You are a Pinterest search expert. Transform this request into 4 Pinterest search queries.\n\n**Input:** {{ $json.text_prompt }}\n**Context:** {{ $json.project_context }}\n\n**Output ONLY valid JSON:**\n```json\n{\n  \"queries\": [\n    \"primary query 4-8 words\",\n    \"alternative query 1\",\n    \"alternative query 2\",\n    \"alternative query 3\"\n  ]\n}\n```\n\nUse specific visual terms. NO text outside JSON."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 400
        }
      },
      "id": "5",
      "name": "OpenAI — Generate Queries",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.4,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response and extract queries\nconst response = $input.first().json.message.content;\nconst cleaned = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst data = JSON.parse(cleaned);\n\nconst context = $('Set — Context').first().json;\n\n// Create item for each query\nreturn data.queries.map((query, idx) => ({\n  json: {\n    ...context,\n    query: query,\n    query_index: idx\n  }\n}));"
      },
      "id": "6",
      "name": "Code — Parse Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.pinterest.com/v5/search/pins",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "page_size",
              "value": "25"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "retry": {
            "maxRetries": 3
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "7",
      "name": "HTTP Request — Pinterest API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "oAuth2Api": {
          "id": "pinterest-oauth2",
          "name": "Pinterest OAuth2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": "200",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "8",
      "name": "IF — API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "error",
              "value": "Pinterest API failed",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "status_code",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "e3",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9",
      "name": "Set — Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 480]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_ERROR_LOG_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "10",
      "name": "Google Sheets — Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2000, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract and score Pinterest pins\nconst items = $input.all();\nconst allPins = [];\nconst seenIds = new Set();\n\nitems.forEach(item => {\n  const pins = item.json.body?.items || [];\n  const searchQuery = item.json.query || '';\n  \n  pins.forEach((pin, idx) => {\n    if (seenIds.has(pin.id)) return;\n    seenIds.add(pin.id);\n    \n    // Simple relevance scoring\n    let score = 0;\n    const terms = searchQuery.toLowerCase().split(' ');\n    const title = (pin.title || '').toLowerCase();\n    const desc = (pin.description || '').toLowerCase();\n    \n    terms.forEach(term => {\n      if (title.includes(term)) score += 3;\n      if (desc.includes(term)) score += 2;\n    });\n    \n    allPins.push({\n      relevance_score: score,\n      pin_id: pin.id,\n      title: pin.title || 'Untitled',\n      description: (pin.description || '').substring(0, 200),\n      image_url: pin.media?.images?.orig?.url || '',\n      board_name: pin.board?.name || '',\n      creator: pin.pinner?.username || '',\n      pinterest_url: `https://pinterest.com/pin/${pin.id}/`,\n      search_query: searchQuery,\n      created_at: pin.created_at || '',\n      retrieved_at: new Date().toISOString()\n    });\n  });\n});\n\n// Sort by relevance\nallPins.sort((a, b) => b.relevance_score - a.relevance_score);\n\nreturn allPins.map(pin => ({ json: pin }));"
      },
      "id": "11",
      "name": "Code — Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "title": "={{ 'Pinterest - ' + $('Set — Context').first().json.project_context + ' - ' + $now.format('yyyy-MM-dd') }}",
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "12",
      "name": "Google Sheets — Create Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "13",
      "name": "Google Sheets — Append Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2220, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"request_id\": $('Set — Context').first().json.request_id,\n  \"total_results\": $input.all().length,\n  \"top_10\": $input.all().slice(0, 10).map(item => ({\n    title: item.json.title,\n    image_url: item.json.image_url,\n    pinterest_url: item.json.pinterest_url,\n    relevance_score: item.json.relevance_score\n  })),\n  \"sheet_url\": $('Google Sheets — Create Sheet').first().json.spreadsheetUrl\n} }}",
        "options": {}
      },
      "id": "14",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF — Has Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Input": {
      "main": [
        [
          {
            "node": "Set — Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond — Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Context": {
      "main": [
        [
          {
            "node": "OpenAI — Generate Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Generate Queries": {
      "main": [
        [
          {
            "node": "Code — Parse Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse Queries": {
      "main": [
        [
          {
            "node": "HTTP Request — Pinterest API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Pinterest API": {
      "main": [
        [
          {
            "node": "IF — API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — API Success": {
      "main": [
        [
          {
            "node": "Code — Process Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set — Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Error Log": {
      "main": [
        [
          {
            "node": "Google Sheets — Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Process Results": {
      "main": [
        [
          {
            "node": "Google Sheets — Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Create Sheet": {
      "main": [
        [
          {
            "node": "Google Sheets — Append Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Append Results": {
      "main": [
        [
          {
            "node": "Respond — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York",
    "saveExecutionProgress": true,
    "executionTimeout": 180
  },
  "meta": {
    "category": "AI",
    "tags": ["pinterest", "openai", "research"],
    "complexity": "Medium",
    "version": "1.0.0"
  }
}